@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'D2 coding';
  font-style: normal;
  font-weight: 400;
  src: url('D2Coding.eot');
  src: local('※'), local('D2Coding'),
    url('D2Coding.eot?#iefix') format('embedded-opentype'),
    url('D2Coding.woff2') format('x-woff2'),
    url('D2Coding.woff') format('woff'),
    url('D2Coding.ttf') format('truetype'),
    url('D2Coding.svg') format('svg');
}
@font-face {
  font-family: 'D2 coding';
  font-style: normal;
  font-weight: 700;
  src: url('D2CodingBold.eot');
  src: local('※'), local('D2Coding Bold'),
    url('D2CodingBold.eot?#iefix') format('embedded-opentype'),
    url('D2CodingBold.woff2') format('x-woff2'),
    url('D2CodingBold.woff') format('woff'),
    url('D2CodingBold.ttf') format('truetype'),
    url('D2CodingBold.svg') format('svg');
} */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: D2Coding, 'D2 coding', monospace;
}
